# Obsidian workspace file that stores last location
.obsidian/workspace.json

# Large image files
*.jpg

# Krita workspace files
*.webp~

# Compressed files
*.zip
*.7z

# Quartz stuff
.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
